@model Squabby.Models.ViewModels.Message

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Style = new[] {"/css/Default/fullScreenMenu.css"};
}

<div class="layer">
    <div class="menu">
        <h1>@Model.MessageString</h1>
        <p>@Model.Description</p>
        <div class="line"></div>
        <a class="button" href="/">Go Home</a>
    </div>
    <a href="/" id="logo">Squabby</a>
</div>