@{
    Layout = "~/Views/DefaultLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<table id="page">
    <tbody>
    <tr>
        <td>
            
        </td>
        <td>
            1
        </td>
        <td>
            <div class="box mt1r">
                <h3 class="mt0">Popular Boards</h3>
            </div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>