@{
    Layout = "~/Views/DefaultLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div class="box blk w30r malr">
        <h1 class="f15r mt0">Bruh what's this bro</h1>
        <p>Yo I just ate a cookie and it was gooooooooood!</p>
        <div class="like dib"></div><div class="dislike dib"></div><p class="dib ml1r">63%</p>
    </div>
</body>
</html>
