@{
    Layout = "~/Views/DefaultLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <div id="maincontent">
        <div class="button inl f075r">
            Trending
        </div>
    </div>
</body>
</html>
