<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/loginandregister.css">
    <title>Login/Register</title>
</head>
<body>
    <div id="layer">

        <div id="menu">
            <div id="selector">
                <h1>Register</h1>
                <h1 class="unselected">Sign In</h1>
            </div>
            <form id=register>
                <h2 class="inputname">Username</h2>
                <input type="username"/>
                <h2 class="inputname">Password</h2>
                <input type="password"/>
                <h2 class="inputname">Verify Password</h2>
                <input type="password"/>
                <div class="line"></div>
                <button>Sign Up</button>
            </form>
        </div>
    </div>
</body>
</html>