@model Squabby.Models.Board

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Title = Model.Name;
}

<h1>@Model.Name</h1>

@foreach (var thread in Model.Threads)
{
    <h1>@thread.Title</h1>
}