@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Style = new[] {"/css/Default/fullScreenMenu.css"};
}

<div class="layer">
    <div class="menu">
        <h1>Access denied</h1>
        <p>User does not have access to this page</p>
        <div class="line"></div>
        <a class="button" href="/">Go Home</a>
    </div>
    <a href="/" id="logo">Squabby</a>
</div>