@using Squabby.Helpers.Authentication

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/defaultLayout.css">
    <link rel="stylesheet" type="text/css" href="~/css/default.css">
    @if (ViewBag.Style != null)
    {
        <link rel="stylesheet" type="text/css" href="@ViewBag.Style"> 
    }
    <script src="~/js/default.js"></script>
    <title>@(ViewBag.Title??"Squabby")</title>
</head>
<body>
<div id="navbar">
    <a href="/" id="logo">
        Squabby
    </a>
    @if (!Context.HasLoggedInUser())
    {
        <a class="button" href="/login">Sign Up</a>
    }
    else
    {
        var user = Context.GetUser();
        <a id="account" href="/u/@user.Username">
            @user.Username
            <img src="~/images/profile.png"/>
        </a>
    }
    <form>
        <input placeholder="Search"/>
    </form>
</div>

@RenderBody()

</body>
</html>