<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/default.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="navbar">
        <a href="/" id="logo">
            Squabby
        </a>
        <a class="button" href="/login">
            Register
        </a>
        <form>
            <input placeholder="Search"/>
        </form>
    </div>
    
@RenderBody()

</body>
</html>