@using Squabby.Helpers.Authentication

@{
    var account = Context.Session.GetAccount();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/default.css">
    <script src="~/js/default.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div id="navbar">
        <a href="/" id="logo">
            Squabby
        </a>
        @if (account == null)
        {
            <a class="button" href="/login">Sign Up</a>    
        }
        else
        {
            <a id="account" href="/u/@account.Username">
                @account.Username
                <img src="~/images/profile.png"/>
            </a>
        }
        <form>
            <input placeholder="Search"/>
        </form>
    </div>

@RenderBody()

</body>
</html>