#profilebanner {
    position: absolute;
    top:0;
    left: -48px;
    height: 36vh;
    width:calc(100% + 48px);
}

#profilebanner img {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: bottom;
}

#profilebanner #banneroverlay {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:block;
    z-index: 1;
    background-image: linear-gradient(to top, rgb(245,245,245), transparent);
}

#profilebanner #profileinfo {
    position:absolute;
    bottom:5vh;
    left:10vw;
    color:#434343;
    z-index: 2;
}