@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight:bold;
}

@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight:900;
}

html, body {
    height:calc(100% - 3rem);
    width: 100%;
    padding:0;
    margin: 2rem 0 0;
    font-family: "Montserrat";
    background-color: rgb(245, 245, 245);
    color: #434343;
}

#page {
    width:100%;
    height:100%;
    border-collapse: collapse;
}

td {
    text-align:center;
    vertical-align: top;
    width:25%;
}

td:nth-child(even) {
    width:50%;
    background-color:white;
}

.like {
    height:0.5rem;
    width:0.5rem;
    border-left: 3px solid #434343;
    border-top: 3px solid #434343;
    transform: rotate(45deg) translateY(0.25rem);
}

.dislike {
    height:0.5rem;
    width:0.5rem;
    border-right: 3px solid #434343;
    border-bottom: 3px solid #434343;
    transform: rotate(45deg) translateY(-0.25rem);
}

.box {
    background-color: white;
    box-shadow: 0 0 32px rgba(0,0,0,0.16);
    padding:2rem;
    border-radius: 8px;
}

.blk {
    display:block;
}

.w30r {
    width:30rem;
}

.malr {
    margin-left: auto;
    margin-right: auto;
}

.f15r {
    font-size:1.5rem;
}

.mt0 {
    margin-top: 0;
}

.di {
    display:inline;
}

.dib {
    display:inline-block;
}

.fl {
    float:left;
}

.ml1r {
    margin-left: 0.5rem;
}

.fwb {
    font-weight:bold;
}