@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight:bold;
}

@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight:900;
}

html, body {
    height:calc(100% - 2rem);
    width: 100%;
    padding:0;
    margin: 2rem 0 0;
    font-family: "Montserrat";
    background-color: rgb(25,25,25);
    color: white;
}

.button{
    border-radius:24px;
    border: 1px solid white;
    height:1rem;
    padding: 0.48rem 24px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bolder;
    line-height: 1rem;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 1s;
    text-decoration: none;
}


.button:hover {
    box-shadow: 0 0 10px white;
    transition: all 1s;
}

#maincontent {
    height:100%;
    width: 60rem;
    background-color:black;
    display:block;
    margin-left:auto;
    margin-right:auto;
}