@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight:bold;
}

@font-face {
    font-family: 'Montserrat';
    src:  url('../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight:900;
}

html, body {
    height:100%;
    width: 100%;
    padding:0;
    margin:0;
    font-family: "Montserrat";
    background-color: rgb(245, 245, 245);
    color: #434343;
}

@media only screen and (orientation: landscape) {
    body {
        margin-left: 48px;
        width: calc(100% - 48px);
    }
    td:nth-child(even) {
        width:50%;
    }
    td:nth-child(odd) {
        width:25%;
    }
}

@media only screen and (orientation: portrait) {
    body {
        margin-bottom: 48px;
        height: calc(100% - 48px);
    }
    td:nth-child(odd) {
        display:none;
    }

}

td {
    padding-left:1.5%;
    padding-right: 1.5%;
}

#banner {
    position: relative;
    margin-left: -48px;
    height: 36vh;
    width:calc(100% + 48px);
    margin-bottom:1rem;
}

#banner img {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    object-fit: cover;
    object-position: bottom;
}

#banner #banneroverlay {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:block;
    z-index: 1;
    background-image: linear-gradient(to top, rgb(245,245,245), transparent);
}

#banner #info {
    position:absolute;
    bottom:5vh;
    left:10vw;
    color:#434343;
    z-index: 2;
}

#banner #info p {
    width:24rem;
}

#page {
    width:100%;
    height:100%;
    border-collapse: collapse;
}

td {
    text-align:center;
    vertical-align: top;
}

.like {
    height:0.5rem;
    width:0.5rem;
    border-left: 3px solid #434343;
    border-top: 3px solid #434343;
    transform: rotate(45deg) translateY(0.25rem);
    transition: all 1s;
}

.like:hover {
    border-color: #792a96;
    transform: rotate(45deg) translateY(0.25rem) scale(1.25);
}

.dislike {
    height:0.5rem;
    width:0.5rem;
    border-right: 3px solid #434343;
    border-bottom: 3px solid #434343;
    transform: rotate(45deg) translateY(-0.25rem);
    transition:all 1s;
}

.dislike:hover {
    border-color: #792a96;
    transform: rotate(45deg) translateY(-0.25rem) scale(1.25);
}

.box {
    background-color: white;
    box-shadow: 0 0 32px rgba(0,0,0,0.16);
    padding:2rem;
    border-radius: 8px;
    text-align:left;
    transition:all 1s;
}

.thread:hover {
    box-shadow: 0 0 32px rgba(0,0,0,0.32);
    transform: scale(1.025);
}

.threaddata {
    position:relative;
    margin-bottom: 1rem;
}

.threaddata p { 
    margin:0;
    user-select: none;
}

.threadinfo {
    position: absolute;
    left:0;
    color: #868686;
    font-size:12px;
}

.threadinfo a {
    text-decoration: none;
    transition: color 1s;
    color: #868686
}

.threadinfo a:hover {
    color: #434343
}

.threadinfo a:visited {
    color: #868686
}

.threadinfo a:visited:hover {
    color: #434343
}

.threaddate {
    position: absolute;
    right:0;
    font-size:12px;
    color:#868686;
}

.btn{
    border-radius:24px;
    border: 1px solid white;
    height:1rem;
    padding: 0.48rem 24px;
    color: white;
    text-transform: uppercase;
    font-family: "Montserrat";
    font-weight: bolder;
    line-height: 1rem;
    font-size: 1rem;
    transform: translateY(-50%);
    transition: all 1s;
    text-decoration: none;
}

.btn:hover {
    box-shadow: 0 0 10px white;
    transition: all 1s;
}

.blk {
    display:block;
}

.w30r {
    width:30rem;
}

.mlra {
    margin-left: auto;
    margin-right: auto;
}

.f15r {
    font-size:1.5rem;
}

.mt0 {
    margin-top: 0;
}

.mt1r {
    margin-top: 1rem;
}

.di {
    display:inline;
}

.dib {
    display:inline-block;
}

.fl {
    float:left;
}

.ml1r {
    margin-left: 1rem;
}

.ml075r {
    margin-left: 0.75rem;
}

.fwb {
    font-weight:bold;
}

.mb1r {
    margin-bottom: 1rem;
}

.fr {
    float:right;
}

.indent:before { content: "\00a0 "; }

.clickable {
    cursor:pointer;
}
