@model Squabby.Models.User
@using Squabby.Helpers.Authentication

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Title = "Squabby: Profile of " + Model.Username;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="~/css/User/profile.css">
</head>
<body>
    <div id="profilebanner">
        <div id="banneroverlay"></div>
        <img src="~/images/background.jpg">
        <div id="profileinfo">
            <h1 id="profileusername">@Model.Username</h1>
            <p>I'm your friend. I can be nice from time to time.</p>
        </div>
    </div>
</body>
</html>