@using Squabby.Models.ViewModels
@model Squabby.Models.ViewModels.Error

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Style = new[] {"/css/Default/fullScreenMenu.css"};
    ViewBag.Title = "Register";

    if (Model != null && Model.ErrorType == ErrorType.NameAlreadyUsedError)
    {
        <style>
            #username{ 
              border-style: solid !important;
              border-width: 1px !important;
              border-color: red !important;
            }
        </style>
    }
}

<script type="text/javascript">
function verifyForm(){
    if(document.getElementById("verifypassword").value === document.getElementById("password").value) return true;
    else{
        document.getElementById("verifypassword")
        .setAttribute("style", "border-style: solid !important; border-width: 1px !important; border-color: red !important;")
        return false;
    }
}
</script>

<div class="layer">
    <div class="menu">
        <h1>Register</h1>
        <form action="/register" method="post" onsubmit="return verifyForm()">
            <h2 class="inputname">Username</h2>
            <input id="username" type="username" name="username" maxlength="@Squabby.Models.User.MaxUsernameLength" required/>
            <h2 class="inputname">Password</h2>
            <input id="password" name="password" type="password" required/>
            <h2 class="inputname">Verify Password</h2>
            <input id="verifypassword" type="password" required/>
            <div class="line"></div>
            <button type="submit" class="button">Sign Up</button>
            <a href="/login" class="redirect">Login</a>
        </form>
    </div>
    <a href="/" id="logo">Squabby</a>
</div>