@using Squabby.Models.ViewModels
@model Squabby.Models.ViewModels.Error

@{
    Layout = "~/Views/DefaultLayout.cshtml";
    ViewBag.Style = new[] {"/css/Default/fullScreenMenu.css"};
    ViewBag.Title = "Login";

    if (Model != null && Model.ErrorType == ErrorType.LoginError)
    {
        <style>
            .menu input{ 
              border-style: solid !important;
              border-width: 1px !important;
              border-color: red !important;
            }
        </style>
    }
}

<div class="layer">
    <div class="menu">
        <h1>Login</h1>
        <form action="/tokenlogin" method="post">
            <h2 class="inputname">Token</h2>
            <input id="token" name="token" required/>
            <div class="line"></div>
            <button class="button">Sign In</button>
        </form>
    </div>
    <a href="/" id="logo">Squabby</a>
</div>